.container {
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
}
.nav-item-container-active {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(50, 50, 50);
}
.nav-item-container {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}
