body{
    background: #E95252;
}
#line1{
    width: 100%;
    height: 750px;
    position: fixed;
}
#line2{
    width: 100%;
    height: 750px;
    position: fixed;
}
#welcome{
    position: fixed;
    left: 40%;
    right: 40%;
}